html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.bg-image {
    max-height: 600px;
    height: auto;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    color: #ED6436;
}

#register-response {
    display: none
}

#register-form, #create-listing-form, .edit-listing-form, #reset-form {
    justify-content: center;
}

.card {
    background-color: #181818;
    border: none!important;
    border-radius: 10px;
    margin-bottom: 1.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.set-up-card, .create-listing-card, .forgot-card, .reset-card, .log-in-card {
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    border: none;
}

.edit-listing-card {
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    border: none;
}


.log-in-card, .forgot-card, .reset-card {
    max-width: 40%;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.set-up-card {
    max-width: 50%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}
.create-listing-card {
    max-width: 50%;
    padding-top: 2rem;
    padding-bottom: 3rem;
}

.edit-listing-card  {
    max-width: 60%;
}

.delete-listing-card, .admin-story-card {
    width: 25rem;
    margin-top: 15rem;
}

#forgot-password-response, #error-response {
    display: none;
}

#forgot-link {
    margin-left: .5rem;
}

#cancel-link {
    margin-left: 4rem;
}

#register-link {
    margin-left: 2.8rem;
}
#login-link {
    color: white;
    margin-left: 3.1rem;
}

#register-form>p {
    margin-bottom: 0;
}


label, #login-form>a, #forgot-form>a, #reset-form>a, #register-form>p, #create-listing-form>a {
    color: white;
}

#register-form>h1, #login-form>h1, #login-form>a,  #create-listing-form>h1, #create-listing-form>label, .edit-listing-form label, .edit-listing-form h1,
#forgot-form>h2, #forgot-form>input, #reset-form>label, #reset-form>h2, #create-listing-form>a {
    text-align: center;
}


.set-up-row, .log-in-row, .create-listing-row, .edit-listing-row, .forgot-row, .reset-row, .delete-listing-row, .admin-story-row{
    justify-content: center;
}

.delete-listing-row, .admin-story-row {
    margin-top: 6.25rem;
}

#register-form>input, #login-form>input, #create-listing-form>input, .edit-listing-form input, #reset-form>input, #forgot-form>input {
    border: none!important;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.edit-listing-form select  {
    margin-bottom: 1rem;
}

#create-listing-form select {
    margin-bottom: 1rem;
}

#create-listing-form #summary {
    margin-top: 1rem;
}

#create-listing-form>button {
    margin-top: 1rem;
}

#register-form>select {
    margin-bottom: 1rem;
}

#create-listing-form textarea, .edit-listing-form textarea {
    resize: none;
}


#login-btn, #forgot-btn, #reset-btn {
    display: block;
    margin : 0 auto;
}

#password-response {
    display: none;
}
.__talkjs_launcher {
    background-color: #ED6436!important;
}


#register-btn, #login-btn, #create-listing-btn, input[type=file]::file-selector-button, #forgot-btn, #reset-btn, .edit-listing-btn, .btn-getInTouch {
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 6.5rem;
    height: 2rem;
    background-color: #ED6436;
    border: none;
    color: white;
}

#profile_upload, #image_upload, .image_upload {
    width: 14rem;
    margin-bottom: 0!important;
}


#register-response, #login-response, #password-response {
    color: white;
    display: none;
}

#register-form > label {
    width: 9rem;
}

#create-listing-form > label {
    width: 7rem;
}

#create-listing-form > p {
    display:inline;
    width: 9rem;
}

.edit-listing-form label {
    width: 5rem;
    color: white;
}

.edit-listing-form p {
    display:inline;
    width: 9rem;
}


.delete-listing-content>p, .admin-story-content>p {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    text-align: center;
}
.delete-listing-content>div, .admin-story-content>div {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777777;
    text-align: left;
    background-color: #fff;
}

h1, h2 {
    font-weight: 800 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
    padding: 30px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #F2F2F4;
    outline: none;
}

.navbar-toggler {
    margin-right: 2rem;
}

nav .nav-link.active, .home, .nav-link:hover {
    color: #181818;
    background: #ED6436!important;
}


.text-white {
    color: #fff;
}


.text-primary {
    color: #ED6436 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.d-inline-flex {
    display: inline-flex !important;
}
.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.text-black {
    color: #181818;
}
.text-grey {
    color: #777777;
}

.btn-primary {
    background-color: #ED6436;
    border-color: #ED6436;
}

.text-lg-right {
    text-align: right !important;
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff;
    background-color: #e3410c;
    border-color: #ED6436;
}
#login-form>a:hover {
    color: #ED6436;
}

.team img {
    position: relative;
    z-index: 1;
}

.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
}

.card-img-top {
    height: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.text-center {
    text-align: center !important;
}

.bg-light {
    background-color: #F2F2F4 !important;
}

.btn-outline-primary {
    color: #ED6436;
    border-color: #ED6436;
}

.aboutName {
    margin-top: 1rem;
    margin-bottom: 0!important;
}

.rounded-circle {
    margin-top: 1rem;
    margin-left: 5px;
}

.rounded-circle>i {
    margin-left: 1px;
}

.aboutUs {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.about{
    margin-top: 2rem;
}

.card-img-top {
    object-fit: cover;
    height: 275px;
    overflow: hidden;
    object-position: top;
}


.meetUs {
    margin-top: 3rem!important;
}

.aboutText {
    padding: 2rem;
}

.hero {
    max-height:600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.hero-text {
    text-align: center;
    margin-top: -20rem;
    margin-bottom: 20rem;
    z-index: 1;
}

.text-danger {
    color: #ED6436!important;
}

textarea, select {
    border-radius: 5px;
    border: none;
}

#create-listing-form>h1 {
    margin-top: 2rem;
    margin-left: .5rem;
}

#create-listing-form>label {
    text-align: start;
}

.edit-listing-form h1 {
    text-align: center;
}

.edit-listing-form label {
    text-align: start;
}

.browse-btn {
    margin-right: 1.5rem;
}

/*User View*/
.section {
    padding: 3rem 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
#profile_img {
    max-width: 100%;
}
#profile_img {
    vertical-align: middle;
    border-style: none;
}
/* About Me
---------------------*/
.about-text h3, .listing-section h3, .story-section h3 {
    color: #ED6436;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
}
@media (max-width: 767px) {
    .section {
        padding: 1rem 0;
    }
    .about-text h3, .listing-section h3, .story-section h3 {
        font-size: 35px;
    }
    .set-up-card {
        max-width: 90%;
    }
}
.about-text p {
    font-size: 18px;
    max-width: 450px;
}

.about-list {
    padding-top: 10px;
}
.about-list .media {
    padding: 5px 0;
}
.about-list label {
    color: #ED6436;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
}
.about-list p {
    margin: 0;
    font-size: 15px;
}

#register-form>h1 {
    margin-top: 2rem;
}
@media (min-width: 376px) {
   .edit-overlay-container {
       left: 5%;
       width: 90%;
   }
}

@media (max-width: 365px) {
    #register-form > label {
        width: 18rem;
    }
    #register-form > input, #register-form > select {
        margin-left: 3.5rem;
    }
    #register-btn {
        margin-left: 3.4rem;
    }
    #image_upload {
        margin-left: .3rem;
    }
    .image_upload {
        margin-left: .3rem;
    }
}
@media (max-width: 376px) {
    #create-listing-form > input, #create-listing-form > select, #create-listing-form > textarea, .edit-listing-form input, .edit-listing-form select, .edit-listing-form textarea {
        margin-left: 2rem;
    }
    #create-listing-btn {
        margin-left: 3rem;
    }

    .view-overlay-container {
        width:90%;
        right: 5%;
    }
}

@media (max-width: 396px) {
    .edit-listing-btn {
        margin-left: 2rem;
    }

    .edit-listing-card {
        margin-top: 0 !important;
        max-width: 100% !important;
    }
}


@media (max-width: 626px) {
    .create-listing-card {
        max-width: 90%;
    }
}

@media (min-width: 508px) and (max-width: 768px) {
    .edit-listing-card {
        max-width: 80%!important;
    }
}
@media (max-width: 507px) {
    .edit-listing-card {
        max-width: 100%!important;
    }
}


@media (max-width:576px) {
    .log-in-card, .forgot-card, .reset-card {
        max-width: 80%;
    }
}
@media (min-width: 576px) {
    #forgot-email, #forgot-email-label, #reset-form>input, #reset-form>label {
        margin-left: 2rem;
    }
}
@media (min-width: 577px) and (max-width: 992px){
    .log-in-card, .forgot-card, .reset-card {
        max-width: 60%;
    }
}


@media (max-width: 991px) {
    .about-avatar {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about-avatar > #profile_upload {
        top: 222px;
        right: 45px;
    }
    .overlay-container {
        overflow: auto;
    }
    .user-listings {
        width: 100%!important;
    }

}

@media (min-width: 992px) {
    #login-collapse, #logout-collapse {
        display: none;
    }
}



.about-avatar {
    display: flex;
    justify-content: center;
}
#profile_img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
    background-position: center;
    overflow:hidden
}
#edit_profile_upload {
    display: none;
}
#edit-profile-btns {
    margin-top: 1rem;
}
/*Edit Profile*/
#edit-profile-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: white;
    display: none;
}
.edit-profile-col .media {
    margin-bottom: .25rem;
}
.edit-profile-col label {
    width: 10rem;
    color: #777777;
}
#edit-profile-info #edit-user-response {
    margin-top: .25rem;
    color: #181818;
    display: none;
}
/*Edit Password*/
#edit-password-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: white;
    display: none;
}
#edit-password-info .media {
    margin-bottom: .25rem;
}
#edit-password-info label {
    width: 9rem;
    color: #777777;
}
#edit-password-info #register-response {
    margin-top: .25rem;
    color: #181818;
}
/*User Listings*/
.user-listings {
    padding-top: .25em;
    padding-bottom: .25em;
    padding-left: .25em;
    margin-bottom: 0.5em;
    --bs-gutter-x: 0!important;
    width: 50%;
}
.listing-view:hover, .listing-edit:hover, .listing-delete:hover {
    color: #ED6436;
    cursor: pointer;
}
.listing-view, .listing-edit, .listing-delete {
    position: relative;
    display: inline-block;
}
.tooltip {
    visibility: hidden;
    background-color: #181818;
    color: white;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    opacity: 1;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    bottom: 110%;
}
.listing-view .tooltip {
    width: 100px;
    margin-left: -41px;
}
.listing-edit .tooltip {
    width: 100px;
    margin-left: -43px;
}
.listing-delete .tooltip {
    width: 120px;
    margin-left: -53px;
}
.tooltip::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}
.listing-view:hover .tooltip, .listing-edit:hover .tooltip, .listing-delete:hover .tooltip {
    visibility: visible;
}
/*User Stories*/
#new-story {
    width: 20rem;
    resize: none;
}

.newestpets {
    margin-top: 2rem;
    text-align: center;
}

.hiddenBrand {
    margin-left: 1rem!important;
}

.story-card{
    min-width: 270px;
    border-radius: 10px!important;
    background-color: white;
    padding-bottom: 1rem;
}

.stories-header {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
#stories {
    justify-content: center;
}


.story-img {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-position: center;
    background-color: white;
    margin-top: 2rem;
    overflow:hidden
}
.previewCard {
    min-width: 260px;
}

.buttonRow {
    margin-top: -15rem;
    text-align: center;
}
#newPetDiv {
    margin-top: 12rem;
}

.story-container, .listing-details {
    padding-top: 2rem;
}

.listing-details {
    padding-left: 1rem;
}

#singleListing {
    display: none;
}



.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    cursor: pointer;
}

.overlay-text {
    margin-top: 2rem;
}

.overlay-container {
    background-color: white;
    color: black;
    position: fixed;
    top: 1.5%;
    right: 7.5%;
    height: 97%;
    width: 85%;
    border-radius: 10px;
}

.close-btn {
    margin-top: -6.5rem;
    margin-left: -0.5rem;
    z-index: 2;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
}

#report-btn {
    margin-top: -3.5rem;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
    float: right;
}

.edit-overlay-container {
    color: black;
    position: fixed!important;
    padding-top: 1rem;
    border-radius: 10px;
    overflow: hidden;
}

.delete-overlay-container, admin-story-overlay-container {
    color: black;
    margin: auto;
}

.view-overlay-container {
    background-color: white;
    color: black;
    position: fixed!important;
    padding-top: 1rem;
    top: 10%;
    right:10%;
    height: 80%;
    width: 80%;
    border-radius: 10px;
    overflow: auto;
}
.view-overlay-container > img {
    margin-bottom: 1rem;
}

.view-close-btn {
    z-index: 2;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
}


.listing-image-large {
    width: 100%;
    max-height: 375px;
    object-fit: contain;
    overflow:hidden;
    border-radius: 5px;
    justify-self: center;
}

ul {
    list-style: none;
    padding: 0!important;
}
.more-info {
    margin-left: 4rem;
}


.listing-contact-details {
    margin-top: 1rem;
    border-radius: 5px;
}

.location-map {
    max-height: 350px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    object-fit: contain;
    justify-content: center;
}
#map {
    border-radius: 5px;
}

.user-contact-details {
    margin-left: 1rem;
    padding-bottom: 4rem;
}

#st-2 {
    top:50%!important;
}

.side-btn {
    margin-top: -5rem;
}
#error {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.edit-close-button {
    padding-bottom: 10px;
    z-index: 2;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
}
.edit-listing-card > .edit-close-button {
    position: relative;
    left:-47%
}

#input-required {
    color: #ED6436;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
@keyframes rotate { to {  transform: rotate(1turn) }}
.loading__anim {
    width: 35px;
    height: 35px;
    display: inline-block;
    border: 5px solid rgba(189,189,189 ,0.25);
    border-left-color: #ED6436;
    border-top-color: #ED6436;
    border-radius: 50%;
    animation: rotate 600ms infinite linear;
}


/*Admin View*/
.admin-user-more-info, .admin-user-info-hide, .admin-user-listings, .admin-user-listings-hide, .admin-user-stories, .admin-user-stories-hide {
    display: none;
}

.admin-user-info {
    margin-bottom: 2rem;
    padding: .5rem
}

.admin-user-more-info, .admin-user-listings, .admin-user-stories {
    margin-left: 1rem;
}

.admin-user-listings>.user-listings, .admin-user-stories>.user-stories {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
}

.admin-user-listings>.user-listings {
    width: 100%;
}

.user-stories {
    margin-bottom: .5rem;
}

.user-stories>div {
    padding: 0;
}

.admin-user-info label {
    width: 3.25rem;
    color: #777777;
    margin-right: .25rem;
}

.admin-user-info-name>div {
    margin-bottom: .5rem;
}
@media (max-width: 767px) {
    .admin-user-info-name>div {
        margin-left: 1rem;
    }
    .admin-user-info-name>p {
        margin-bottom: .5rem;
    }
}

.admin-user-info-show:hover, .admin-user-info-hide:hover, .admin-user-listings-show:hover, .admin-user-listings-hide:hover, .admin-user-stories-show:hover, .admin-user-stories-hide:hover {
    color: #ED6436;
    text-decoration: underline;
    cursor: pointer;
}

.admin-listing-name:hover, .admin-story-id:hover {
    color: #ED6436;
    cursor: pointer;
}

.admin-user-more-info span {
    color: #ED6436;
}

.admin-user-listings .listing-id {
    padding-left: 8px;
}

.align-top {
    margin-bottom: 16px;
}

#inbox-container {
    height: 600px;
    width: 100%;
}

