html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1 0 auto;
}
.footer {
    flex-shrink: 0;
}

.bg-image {
    height: 400px;
    background-position: center;
    background-size: cover;
}

.jumbotron {
    color: #ED6436;

}


#register-response {
    display: none
}
#register-form {
    display:inline;
}

#register-form, #login-form, #create-listing-form, #edit-listing-form {
    padding-left: 16px;
    margin-right: 5rem;
    margin-left: 5rem;
}
#create-listing-form, #edit-listing-form {
    width: 24.25rem;
}
.card {
    background-color: #181818;
    border: none!important;
    border-radius: 10px;
    margin-bottom: 1.5em;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.set-up-card, .log-in-card, .create-listing-card {
    width: 45rem;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}
.edit-listing-card {
    width: 45rem;
    margin-top: 5rem;
}

.set-up-card {
    height: 45rem;
    width: 45rem;
}

.log-in-card {
    width: 30rem;
    height: 25rem;
}
label {
    color: white;
}

#register-form>h1, #register-form>label, #login-form>h1, #login-form>label, #create-listing-form>h1, #create-listing-form>label, #edit-listing-form>label,

#register-form>h1, #login-form>h1, #create-listing-form>h1 {
    text-align: center;
}


.set-up-row, .log-in-row, .create-listing-row, .edit-listing-row{
    align-items: center;
    justify-content: center;
}

#register-form>input, #login-form>input, #create-listing-form>input, #edit-listing-form>input {
    border: none!important;
    border-radius: 5px;
    margin-bottom: 1rem;
}

#edit-listing-form>select {
    margin-bottom: 1rem;
}

#edit-listing-form>textarea {
    margin-bottom: 1rem;
}

#create-listing-form>select {
    margin-bottom: 1rem;
}

#create-listing-form>#summary {
    margin-top: 1rem;
}

#create-listing-form>button {
    margin-top: 1rem;
}

#register-form>select {
    margin-bottom: 1rem;
}

#create-listing-form>textarea, #edit-listing-form>textarea {
    resize: none;
}

#register-btn {
    margin-left: 10.6rem;
}
#login-btn {
    margin-left: 10.6rem;
}
#create-listing-btn {
    margin-left: 9.975rem;
}
#edit-listing-btn {
    margin-left: 10rem;
    background-color: #ED6436;
    border: none;
    color: white;
    border-radius: 5px;
    width: 6rem;
    height: 2.5rem;
    margin-bottom: 3rem;

}

#register-btn, #login-btn, #create-listing-btn, #profile_upload {
    margin-bottom: 1rem;
    border-radius: 5px;
    width: 6rem;
    height: 2.5rem;
    background-color: #ED6436;
    border: none;
    color: white;
}
#profile_upload {
    margin-left: 23px;
}

#image_upload {
    /*margin-bottom: 1rem;*/
    border-radius: 5px;
    width: 6rem;
    height: 2.5rem;
    background-color: #ED6436;
    border: none;
    color: white;
    margin-left: 2rem;
}


#register-response, #login-response {
    color: white;
    display: none;
}
#register-form > label {
    width: 9rem;
}
#login-form > label {
    width: 5rem;
}
#create-listing-form > label {
    width: 9rem;
}
#create-listing-form > p {
    display:inline;
    width: 9rem;
}

#edit-listing-form > label {
    width: 9rem;
    color: white;
}
#edit-listing-form > p {
    display:inline;
    width: 9rem;
}


#register-form>input, #create-listing-form>input, #create-listing-form>textarea, #create-listing-form>select, #edit-listing-form>input, #edit-listing-form>textarea, #create-listing-form>select  {
    width: 15rem;
}
#create-listing-form, #edit-listing-form {
    width: 26rem;
}
body {
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #777777;
    text-align: left;
    background-color: #fff;
}

h1, h2 {
    font-weight: 800 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    line-height: 1.2;
    font-family: "Nunito", sans-serif;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
}

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-dark .navbar-nav .nav-link {
    padding: 30px 20px;
    font-size: 18px;
    letter-spacing: 1px;
    color: #F2F2F4;
    outline: none;
}

.navbar-toggler {
    margin-right: 2rem;
}

nav .nav-link.active, .home, .nav-link:hover {
    color: #181818;
    background: #ED6436;
}


.text-white {
    color: #fff;
}


.text-primary {
    color: #ED6436 !important;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.pt-3, .py-3 {
    padding-top: 1rem !important;
}

.align-items-center {
    align-items: center !important;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
}
.pb-3, .py-3 {
    padding-bottom: 1rem !important;
}

.d-inline-flex {
    display: inline-flex !important;
}
.border-right {
    border-right: 1px solid #dee2e6 !important;
}

.text-black {
    color: #181818;
}
.text-grey {
    color: #777777;
}

.btn-primary {
    background-color: #ED6436;
    border-color: #ED6436;
}

.text-lg-right {
    text-align: right !important;
}

.container-fluid {
    padding-right: 0!important;
    padding-left: 0!important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active {
    color: #fff;
    background-color: #e3410c;
    border-color: #ED6436;
}


.team img {
    position: relative;
    z-index: 1;
}

.card-img, .card-img-top, .card-img-bottom {
    flex-shrink: 0;
    width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.text-center {
    text-align: center !important;
}

.bg-light {
    background-color: #F2F2F4 !important;
}

.btn-outline-primary {
    color: #ED6436;
    border-color: #ED6436;
}

.aboutName {
    margin-top: 1rem;
}

.rounded-circle {
    margin-right: .5rem;
}

.rounded-circle>i {
    margin-left: 1px;
}

.aboutUs {
    border-radius: 5px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

}

.about{
    margin-top: 2rem;
}

.card-img-top {
    object-fit: cover;
    height: 275px;
    overflow: hidden;
}

.meetUs {
    margin-top: 3rem!important;
}

.aboutText {
    padding: 2rem;
}

.hero {
    max-height:600px;
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.hero-text {
    text-align: center;
    margin-top: -20rem;
    margin-bottom: 20rem;
    z-index: 1;
}


textarea, select {
    border-radius: 5px;
}
#create-listing-form>h1 {
    margin-top: 2rem;
}

#edit-listing-form>h1 {
    margin-top: 2rem;
    text-align: center;
}

.browse-btn {
    margin-right: 2rem;
}

/*User View*/
.section {
    padding: 3rem 0;
    position: relative;
}
.gray-bg {
    background-color: #f5f5f5;
}
#profile_img {
    max-width: 100%;
}
#profile_img {
    vertical-align: middle;
    border-style: none;
}
/* About Me
---------------------*/
.about-text h3, .listing-section h3, .story-section h3 {
    color: #ED6436;
    font-size: 45px;
    font-weight: 700;
    margin: 0 0 6px;
}
@media (max-width: 767px) {
    .section {
        padding: 1rem 0;
    }
    .about-text h3, .listing-section h3, .story-section h3 {
        font-size: 35px;
    }
}
.about-text p {
    font-size: 18px;
    max-width: 450px;
}

.about-list {
    padding-top: 10px;
}
.about-list .media {
    padding: 5px 0;
}
.about-list label {
    color: #ED6436;
    font-weight: 600;
    width: 88px;
    margin: 0;
    position: relative;
}
.about-list p {
    margin: 0;
    font-size: 15px;
}

#register-form>h1 {
    margin-top: 2rem;
}

@media (max-width: 991px) {
    .about-avatar {
        margin-top: 30px;
    }
}


/*Edit Profile*/
#edit-profile-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: white;
    display: none;
}
.edit-profile-col .media {
    margin-bottom: .25rem;
}
.edit-profile-col label {
    width: 10rem;
    color: #777777;
}
#edit-profile-info #edit-user-response {
    margin-top: .25rem;
    color: #181818;
    display: none;
}
/*Edit Password*/
#edit-password-info {
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    background-color: white;
    display: none;
}
#edit-password-info .media {
    margin-bottom: .25rem;
}
#edit-password-info label {
    width: 9rem;
    color: #777777;
}
#edit-password-info #register-response {
    margin-top: .25rem;
    color: #181818;
}
/*User Listings*/
.user-listings {
    padding-top: .25em;
    padding-bottom: .25em;
    margin-bottom: 0.5em;
}
.listing-view, .listing-edit, .listing-delete {
    text-decoration: underline;
}
.listing-view:hover, .listing-edit:hover, .listing-delete:hover {
    color: #ED6436;
}
/*User Stories*/
#new-story {
    width: 20rem;
    resize: none;
}

.newestpets {
    margin-top: 2rem;
    text-align: center;
}

.hiddenBrand {
    margin-left: 1rem!important;
}

.storyCard{
    height: 19rem;
    width: 19rem;
    border-radius: 10px!important;
    background-color: white;
    padding-bottom: 1rem;
}

.storiesHeader {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.storyImg {
    border-radius: 50%;
    width: 120px;
    height: 120px;
    object-fit: cover;
    background-position: center;
    background-color: white;
    margin-top: 2rem;
    margin-left: 6.5rem;
    overflow:hidden
}

.buttonRow {
    margin-top: -15rem;
    text-align: center;
}
#newPetDiv {
    margin-top: 12rem;
}

.storyContainer, .listing-details {
    padding-top: 2rem;
}

.listing-details {
    padding-left: 1rem;
}

#singleListing {
    display: none;
}

.previewCard {
    width: 450px;
    margin-left: 2rem;
}


.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 2;
    cursor: pointer;
}

.overlay-text {
    margin-top: 2rem;
}

.like-share {
    margin-top: 4rem;
}
.overlay-container {
    background-color: white;
    color: black;
    position: fixed;
    top: 5%;
    right:10%;
    height: 90%;
    width: 80%;
    border-radius: 10px;
    overflow: scroll;
}

.close-btn {
    margin-top: 1rem;
    margin-left: -2rem;
    z-index: 2;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
}

.edit-overlay-container {
    color: black;
    position: absolute;
    top: 50px;
    left: 300px;
    bottom: 50px;
    right:50%;
    height: 90%;
    width: 80%;
    border-radius: 10px;
    overflow: scroll;
    margin: auto;
}

.view-overlay-container {
    background-color: white;
    color: black;
    position: fixed!important;
    padding-top: 1rem;
    top: 15%;
    right:10%;
    height: 70%;
    width: 80%;
    border-radius: 10px;
    overflow: scroll;
}
.view-overlay-container > img {
    margin-bottom: 1rem;
}

.view-close-btn {
    z-index: 2;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
}


.listing-image-large {
    max-width: 100%;
    max-height: 350px;
    background-position: center;
    overflow:hidden;
    border-radius: 5px;
    justify-self: center;
    margin-left: 2rem;
}
.listing-main {
    max-height: 400px;
}


ul {
    list-style: none;
    padding: 0!important;
}
.more-info {
    margin-left: 4rem;
}


.listing-contact-details {
    margin-top: 1rem;
    border-radius: 5px;
    max-height: 300px
}

.location-map {
    padding: 4rem 1rem 0 3rem;
    max-height: 350px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    object-fit: cover;
    justify-content: center;
}
#map {
    border-radius: 5px;
}

.user-contact-details {
    margin-left: 1rem;
    padding-bottom: 4rem;
}

#st-2 {
    top:50%!important;
}
.container-overlay-details {
    padding-left: 2rem;
}

.side-btn {
    margin-top: -5rem;
}
#image_upload {
    /*margin-left: 23px;*/
}

.edit-close-button {
    z-index: 2;
    background-color: #ED6436;
    color: white;
    border-color: #ED6436;
}


#input-required {
    color: #e3410c;
}